@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@600&display=swap');

/*----RESET---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}   
    
/*-----HEADER----*/
.encabezado{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezado .logo{
    width: 137px;   
    height: 169px;
    padding: 10px;
}
.encabezado div{
    margin: 15px;
}
.encabezado div a{
    margin: 5px;
}

/*-------NAV-----*/
.navbar{
    font-family: 'Ysabeau', sans-serif;
    position: sticky;
    top:0;
    padding: 0px;
    
}
.navbar div a{
    color: #ffffff;
}
.container-fluid{
    background-color: #c2c5aa;
    margin: 0px;
    padding: 0px;
    
}
.navbar .container-fluid{ 
    display: flex;
    align-items: end; 
    align-items: center;}


.navbar .container-fluid a{
    color: #256030;
    font-size: 24px;
    padding: 8px;
    margin: 0px;
    
}
.navbar-toggler{
    padding: 5px;
    margin-right: 3px;

}
.container-fluid .collapse .navbar-nav a{
    color: #256030;
    font-size: 22px;
}
.navbar .container-fluid :hover{
    color:#256030;
} 
.container-fluid .collapse .navbar-nav :hover{
    color: #256030;
}
/*------------MAIN-------------*/
h2{
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    font-size: 38px;
    color: #256030;
    text-align: center;
    padding: 10px;
}

/*-------SECTION HERO*----------*/
.hero{
    background-image: url("../img/imagenhero.jpg");
    width: 100%;
    height: 620px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 8px;
    
}
.hero h1{
    color: #ffffff;
    font-size: 30px;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    margin-bottom: 8px;
    background-color: rgba(0, 0, 0, 0.301)
    
}

.hero a{
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background-color: black;
    padding: 8px;
}

/*--------SECTION NOSOTROS-------*/
.nosotros{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nosotros div{
    padding: 40px;
    width: 85%;
}
    
.nosotros div h2{
    background-color: #ffffff;
}
.nosotros div p{
    color: black;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

/*--------SECTION OPCIONES-------*/
.opciones{
    background-color: #ffffff;
}

.opciones h3{
    font-size: 23px;
    margin: 0px;
    padding-bottom: 15px;
}
.opciones .opciones-contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.opciones .opciones-contenedor div{
    width: 300px;
    height: 400px;
    text-align: center;
    font-family: 'Ysabeau', sans-serif;
    margin: 30px;
    box-shadow: 16px -16px 20px -9px rgba(0,0,0,0.76);
    -webkit-box-shadow: 16px -16px 20px -9px rgba(0,0,0,0.76);
    -moz-box-shadow: 16px -16px 20px -9px rgba(0,0,0,0.76);;
    
}

.opciones .opciones-contenedor img{
    width: 100%;
    height: 280px;
}

.opciones .opciones-contenedor div a{
    background-color: #dad7cd;
    color: #256030;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    margin: 15;
    padding: 8px;
}
/*------------SECTION TESTIMONIOS-----*/
.testimonios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonios h2{
    font-size: 35px;
}
.carousel-inner div{
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    font-size: 20px;
    width: 300px;
    height: 180px; 
    text-align: center;
}
/*---no me funcionan las modificaciones de los botones del carrusel---*/
.carousel button{
    color: #256030;
    margin-left:  60px;
}
/*----PAGE NUESTRAS OPCIONES----*/

.propuestas{
    background-color: #ffffff
}
.propuestas h1{
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    font-size: 45px;
    color: #256030;
    text-align: center;
    padding: 10px;
}
.propuestas p{
    color: black;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.propuestas img{
    margin: 15px;
    width: 350px;
    height: 300px;
    object-fit:cover;
    box-shadow: 16px -16px 20px -9px rgba(0,0,0,0.76);
    -webkit-box-shadow: 16px -16px 20px -9px rgba(0,0,0,0.76);
    -moz-box-shadow: 16px -16px 20px -9px rgba(0,0,0,0.76);;
}
.propuestas a{
    background-color: #dad7cd;
    color: #256030;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    padding: 10px;
}

.propuestas-contenedor-uno{
    display: flex;
    justify-content:center;
    align-items: center;
}
.propuestas-contenedor-uno div{
    text-align: center;
}

.propuestas-contenedor-dos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.propuestas-contenedor-dos div{
    text-align: center;
}
.propuestas-contenedor-tres{
    display: flex;
    justify-content: center;
    align-items: center;
}
.propuestas-contenedor-tres div{
    text-align: center;
}


/*-----PAGE SERVICIOS----*/
.servicios{
    background-color: #ffffff
}
.servicios p{
    color: black;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}
.servicios h1{
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    font-size: 38px;
    color: #256030;
    text-align: center;
    margin-top: 30px;
}
.servicios h2{
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    font-size: 38px;
    color: #256030;
    text-align: center;
    margin-top: 30px;
}
.servicios img{
    margin: 15px;
    width: 460px;
    height: 390px;
    box-shadow: 8px -9px 17px -1px rgba(0,0,0,0.76);
    -webkit-box-shadow: 8px -9px 17px -1px rgba(0,0,0,0.76);
    -moz-box-shadow: 8px -9px 17px -1px rgba(0,0,0,0.76);
}
.servicios ul li{
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 35px;
    list-style-image: url("../img/iconol-lista.png");
}

.servicios .contenedor-uno{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.servicios .contenedor-dos{
    display: flex;
    justify-content: space-evenly;
    flex-direction:row-reverse;
    align-items: center;
}
.servicios .contenedor-tres{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicios .contenedor-tres ul li{
    list-style-image: url("../img/icono-lista-pendiente.png");
}
.fotos{
    background-color: #ffffff;
    padding: 50px;
}

.fotos .fotos-contenedor{
    width: 100%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 230px;
    gap: 15px;
}
.fotos .fotos-contenedor img{
    width: 100%;
    height: 100%;
    object-fit:fill;
    box-shadow: 8px -9px 17px -1px rgba(0,0,0,0.76);
    -webkit-box-shadow: 8px -9px 17px -1px rgba(0,0,0,0.76);
    -moz-box-shadow: 8px -9px 17px -1px rgba(0,0,0,0.76);
}
.fotos .fotos-contenedor .primera{
    grid-column: span 2;
}
.fotos .fotos-contenedor .tercera{
    grid-row: span 2;
}
.fotos .fotos-contenedor .sexta{
    grid-column: span 2;
    grid-row: span 2;
}
/*--------PAGE UBICACION------*/
.ubicacion{
    background-color: #ffffff;
}
.ubicacion h1{
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    font-size: 45px;
    color: #256030;
    text-align: center;
    padding: 10px;
}
.ubicacion .mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ubicacion p{
    color: black;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
.ubicacion iframe{
    margin: 25px;
}

.ubicacion a{
    background-color: #dad7cd;
    color: #588157;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    padding: 8px;
    margin: 25px;

}
/*-----PAGE CONTACTO-----*/

.formulario{
    background-color: #ffffff;
    padding: 10px;
    
}
.formulario h1{
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #256030;
    padding: 10px;
    text-align: center;
}
.formulario p{
    color: black;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}
.formulario .formulario-contenedor h2{
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #256030;
    padding: 10px;
    text-align: center;
}
.formulario .formulario-contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario .formulario-contenedor div{
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
}
.formulario .formulario-contenedor div input{
    background-color: #ffffff;
    margin: 10px;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    padding: 2px;
}

/*----------FOOTER----------------*/
.pie{
    background-color: #dad7cd;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pie .logo{
    width: 107px;
    height: 139px;
    margin: 15px;
}
.pie div ul{
    padding: 0px;
    margin: 0px;
}
.pie div ul li a{
    font-size: 20px;
    margin: 12px;
    font-family: 'Ysabeau', sans-serif;
    font-weight: 600;
    color: black;
}
.pie a{
    margin: 10px;
}
/*----------MEDIAS QUERIES-------*/

@media screen and (max-width: 1150px) {
    .propuestas-contenedor-uno{
        flex-direction:column-reverse;
        margin-bottom: 70px;
    }
    .propuestas-contenedor-dos{
        flex-direction:column-reverse;
        margin-bottom: 70px;
    }
    .propuestas-contenedor-tres{
        flex-direction:column-reverse;
        margin-bottom: 70px;
    }
}
@media screen and (max-width: 1100px) {
    .fotos .fotos-contenedor{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 230px;
    }
    .fotos .fotos-contenedor .cuarta{
        grid-row: span 2;
    }
} 
@media screen and (max-width: 990px) {
    .hero h1{
        font-size: 25px;
    }
}
@media screen and (max-width: 835px) {
    .hero h1{
        font-size: 20px;
        width: 100%;
    }
    .hero a{
        padding: 5px;
    }
    nav ul li a{
        font-size: 14px;
    }
    .propuestas p{
        font-size: 15px;
    }
}
@media screen and (max-width: 600px) {
    .encabezado{
        justify-content: center;
        align-items: center;
    }
    .encabezado .logo{
        width: 117px;
        height: 149px;
    }
    .encabezado div{
        display: none;
    }
    nav{
        position: static;
    }
    nav ul{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 5px;
    }
    nav ul li{
        margin: 1px;
    }
    .pie{
        flex-direction: column;
        }
    .pie div{
        margin: 5px;
    }
    .pie div ul li{
        font-size: 15px;
    }
    .pie .logo{
        width: 97px;
        height: 129px;
    }
    .propuestas img{
        width: 250px;
        height: 200px;
    }
    .propuestas h1{
        font-size: 30px;
    }
    .propuestas h2{
        font-size: 23px;
    }
}
